@font-face {
	font-family: "gotham-black";
	src: url("../fonts/gotham-black.ttf");
}
@font-face {
	font-family: "gotham-bold";
	src: url("../fonts/gotham-bold.ttf");
}
@font-face {
	font-family: "gotham-bold-italic";
	src: url("../fonts/gotham-bold-italic.ttf");
}
@font-face {
	font-family: "gotham-medium-italic";
	src: url("../fonts/gotham-medium-italic.ttf");
}
@font-face {
	font-family: "gotham-medium";
	src: url("../fonts/gotham-medium.ttf");
}
@font-face {
	font-family: "gotham-book";
	src: url("../fonts/gotham-book.ttf");
}
@font-face {
	font-family: "gotham-light";
	src: url("../fonts/gotham-light.otf");
}
