.todo-sec {
	text-align: center;
	margin: 0px auto;
	margin-top: 100px;
	font-weight: bold;
	font-style: inherit;
	width: 40%;
	margin-bottom: 100px;
}
body {
	background-color: cyan !important;
}
.form-action-buttons {
	margin-top: 7px;
	display: inline-block !important;
}
.form-control {
	display: inline-block !important;
	width: 80% !important;
}
h1 {
	text-align: center;
	font-weight: bold;
}
.todo-sec h3 {
	display: inline-block;
	font-family: 'Times New Roman';
}
button {
	background-color: lightslategray;
	padding-top: 3px;
	display: inline-block;
	margin-top: 20px;
	color: white !important;
}
.list {
	background-color: lightcoral;
	text-align: center;
}
table {
	text-align: center !important;
}
